@model List<cryWeb.Models.Category>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    <div class="forum-group">
        <div class="header">
            @item.Name
        </div>
        @foreach (var child in item.Children)
        {
            <div class="group cf">
                <div>
                    <div class="title">
                        @Html.ActionLink(child.Name, "CategoryDetails", new { id = child.Id }, null)
                    </div>
                    <div>
                        <span>@child.Children.Count() ämnen</span>
                        <span>@child.Threads.Count() inlägg</span>
                    </div>
                </div>
                <div>

                </div>
            </div>
        }
        @foreach (var thread in item.Threads)
        {
            <div class="thread">
                <div class="title">
                    @Html.ActionLink(thread.Title, "ThreadDetails", new { id = thread.Id })
                </div>
                <div>
                    <span>@thread.Posts.Count() poster</span>
                </div>
            </div>
        }
        <div class="thread">
            @Html.ActionLink("Skapa tråd", "CreateThread", "Home", new { id = item.Id }, null)
        </div>
    </div>
}

@section Scripts {
    
    <script src="@Url.Content("~/Scripts/slideAnimation.js")" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            Slider.go('.forum-group');
        });
    </script>


}